@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@theme {
    --color-bgdark: #282C33;
    --color-icondark: #9BA1AD;
    --color-lighttext: #FFFFFF;
    --color-darktext: #64746F;
    --color-inactive: #ABB2BF;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #282C33;
}

.fira-code-default {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}